
body, html{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#div-1{
    background: url("../assets/background.jpg");
    height: 100%;
    background-size: cover;
    background-position: bottom center;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hypertext-2{
    color: rgb(114, 114, 114);
    text-transform: uppercase;
}
.hypertext-2 p{
    text-align: center;
    font-size: 25px; 
}
#title-2{
    font-size: 46px;
    text-align: center;
    margin: auto;
    color:rgb(66, 66, 66);
}
#title-3{
    font-size: 22px;
    padding-top: 20px;
    text-align: center;
    margin: auto;
    color: rgb(131, 131, 131);
}

/* book cards*/
#title-1{
    text-align: center;
    font-size: 38px;
    padding-top: 50px;
}
#div-4{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 50px;
}

.hypertext-1{
    text-decoration: none;
    color: black;
}

.container-2{
    display: flex;
    flex-direction: column;
}
/* book card end*/

#div-3{
    margin-top: 50px;
    background-color: rgb(167, 167, 167);
    height: 50px;
}

#div-3 p{ 
    text-align: center;
    padding-top: 17px
}

/* Media Queries */
@media(max-width: 845px){
    #div-4{
        display: flex;
        width: 65%;
        flex-direction: column;
        justify-content: center;
        
    }
    .container-2{
        display: list-item;
    }
    .container-2 p{
        text-align: center;
    }
    .container-2 h1{
        text-align: center;
    }
    .image-1{
        width: 100%;
    }

}
